@model Kiralama
@{
    ViewData["Title"] = "Kiralama Güncelle";
}

<form method="post" enctype="multipart/form-data">

    @* <div asp-validation-summary="ModelOnly" >

    </div> *@
    <div class="row">
        <div class="col-10">
            <div class=" container border p-3 mt-5" style="background-color:lightyellow">
                <div class="row pb-3">
                    <h2 class="text-bg-primary">@(Model == null ? "Yeni Kiralama" : "Kiralama Güncelle")</h2>
                </div>
                <div class="mb-3">
                    <label asp-for="OgrenciId" class="p-0"></label>
                    <input asp-for="OgrenciId" class="form-control" />
                    <span asp-validation-for="OgrenciId" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="KitapId" class="p-0"></label>
                    <select asp-for="KitapId" asp-items="@ViewBag.KitapList" class="form-select"></select>
                </div>


                @if (Model != null)
                {
                    <button type="submit" class="btn btn-lg btn-primary" style="width:250px">Güncelle</button>
                }
                else
                {
                    <button type="submit" class="btn btn-lg btn-primary" style="width:250px">Kitap Ekle</button>
                }


                @*  <button asp-controller="KitapTuru" asp-action="Index" class="btn btn-lg btn-primary" style="width:250px">geri dön</button> *@
                <a asp-controller="Kitap" asp-action="Index" class="btn btn-lg btn-primary" style="width:250px">Geri Dön</a>
            </div>
        </div>
        <div class="col-2" >
            @if (Model != null)
            {
                <br /><br />
                <img src="@Model.Kitap.ResimUrl" width="100%" style="border-radius:7px; border:1px solid #bbb9b9" />
            }
        </div>
    </div>




</form>

