
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : ColoreGiallo
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20121026

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Kütüphane</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"></link>
	@* <link rel="stylesheet" type="text/css" href="/style.css" /> *@
	<link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css' />
	<link href='http://fonts.googleapis.com/css?family=Abel|Satisfy' rel='stylesheet' type='text/css' />
	<link href="/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>	
	<div id="wrapper">		
			<div id="header-wrapper">		
				<div id="header" class="container">
							<div id="logo">
								<h1><a href="#">Kütüphane</a></h1>
							</div>
							<div id="menu" >
								<partial name="_LoginPartial" />			
								<ul >
									<li class="current_page_item" >
										<a asp-controller="Home" asp-action="Index">ANA SAYFA</a>
									</li>
									@if (User.IsInRole(Kutuphane1.Data.UserRoles.Role_Admin))
									{
										<li>
										<a asp-controller="KitapTuru" asp-action="Index">KİTAP TÜRLERİ</a>
										</li>
										<li>
											<a asp-controller="Kitap" asp-action="Index">KİTAP İŞLEMLERİ</a>
										</li>
										<li>
											<a asp-controller="Kiralama" asp-action="Index">KİRALAMA</a>
										</li>
									}
									@if (User.IsInRole(Kutuphane1.Data.UserRoles.Role_Ogrenci))
									{
										<li>
											<a asp-controller="Kitap" asp-action="Index">KİTAP LİSTESİ</a>
										</li>						
									}
									
								</ul>					
							</div>
                </div>
				<div id="banner">
				       <div class="content"><img src="~/images/img02.jpg" width="1000" height="400" alt="" /></div>
			    </div>
			</div>
	</div>
	
		
		<!-- end #header -->
		
		<div id="page">

			<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #page -->
		@RenderSection("scripts", required: false)
	@RenderBody()
	<br />
	<br />
	<div id="footer">
		<p>&copy; Untitled. All rights reserved. Images by <a href="http://fotogrph.com/">Fotogrph</a>. Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
	</div>
	<!-- end #footer -->
</body>
</html>
