@model Kiralama
@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

<div id="featured-content">
	<div id="column1" style="text-align:center">
		<div style="height:80px;">
			<h2>80 GÜNDE DEVRİ ALEM</h2>
		</div>
		<p><img src="~/images/abc.jpg" width="250" height="300" alt="" /></p>
		<p>Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem. Mauris quam enim, molestie.</p>
		<p class="button"><a href="#">Özet Bilgi</a></p>
	</div>
	<div id="column2">
		<div style="height:80px;">
			<h2>Savaş Ve Barış</h2>
		</div>
		<p><img src="~/images/img07.jpg" width="250" height="300" alt="" /></p>
		<p>Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem. Mauris quam enim, molestie.</p>
		<p class="button"><a href="#">Özet Bilgi</a></p>
	</div>
	<div id="column3">
		<div style="height:80px;">
			<h2>Savaş Ve Barış</h2>
		</div>
		<p><img src="~/images/img08.jpg" width="250" height="300" alt="" /></p>
		<p>Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem. Mauris quam enim, molestie.</p>
		<p class="button"><a href="#">Özet Bilgi</a></p>
	</div>
</div>
<div id="featured-content">
	<div id="column1" style="text-align:center">
		<div style="height:80px;">
			<h2>80 GÜNDE DEVRİ ALEM</h2>
		</div>
		<p><img src="~/images/abc.jpg" width="250" height="300" alt="" /></p>
		<p>Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem. Mauris quam enim, molestie.</p>
		<p class="button"><a href="#">Özet Bilgi</a></p>
	</div>
	<div id="column2">
		<div style="height:80px;">
			<h2>Savaş Ve Barış</h2>
		</div>
		<p><img src="~/images/img07.jpg" width="250" height="300" alt="" /></p>
		<p>Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem. Mauris quam enim, molestie.</p>
		<p class="button"><a href="#">Özet Bilgi</a></p>
	</div>
	<div id="column3">
		<div style="height:80px;">
			<h2>Savaş Ve Barış</h2>
		</div>
		<p><img src="~/images/img08.jpg" width="250" height="300" alt="" /></p>
		<p>Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem. Mauris quam enim, molestie.</p>
		<p class="button"><a href="#">Özet Bilgi</a></p>
	</div>
</div>
<div id="featured-content">
	<div id="column1" style="text-align:center">
		<div style="height:80px;">
			<h2>80 GÜNDE DEVRİ ALEM</h2>
		</div>
		<p><img src="~/images/abc.jpg" width="250" height="300" alt="" /></p>
		<p>Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem. Mauris quam enim, molestie.</p>
		<p class="button"><a href="#">Özet Bilgi</a></p>
	</div>
	<div id="column2">
		<div style="height:80px;">
			<h2>Savaş Ve Barış</h2>
		</div>
		<p><img src="~/images/img07.jpg" width="250" height="300" alt="" /></p>
		<p>Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem. Mauris quam enim, molestie.</p>
		<p class="button"><a href="#">Özet Bilgi</a></p>
	</div>
	<div id="column3">
		<div style="height:80px;">
			<h2>Savaş Ve Barış</h2>
		</div>
		<p><img src="~/images/img08.jpg" width="250" height="300" alt="" /></p>
		<p>Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem. Mauris quam enim, molestie.</p>
		<p class="button"><a href="#">Özet Bilgi</a></p>
	</div>
</div>
<div id="featured-content">
	<div id="column1" style="text-align:center">
		<div style="height:80px;">
			<h2>80 GÜNDE DEVRİ ALEM</h2>
		</div>
		<p><img src="~/images/abc.jpg" width="250" height="300" alt="" /></p>
		<p>Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem. Mauris quam enim, molestie.</p>
		<p class="button"><a href="#">Özet Bilgi</a></p>
	</div>
	<div id="column2">
		<div style="height:80px;">
			<h2>Savaş Ve Barış</h2>
		</div>
		<p><img src="~/images/img07.jpg" width="250" height="300" alt="" /></p>
		<p>Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem. Mauris quam enim, molestie.</p>
		<p class="button"><a href="#">Özet Bilgi</a></p>
	</div>
	<div id="column3">
		<div style="height:80px;">
			<h2>Savaş Ve Barış</h2>
		</div>
		<p><img src="~/images/img08.jpg" width="250" height="300" alt="" /></p>
		<p>Etiam non felis. Donec ut ante. In id eros. Suspendisse lacus turpis, cursus egestas at sem. Mauris quam enim, molestie.</p>
		<p class="button"><a href="#">Özet Bilgi</a></p>
	</div>
</div>
